{% extends "base.html" %}
{% block title %}List of Clubs{%endblock%}

{% block content %}
    {% if fourteen %}
        <h1 style="color: red; font-family: impact;">You have more than 14 clubs in your bag. This can cause strokes per hole in a tournament!</h1>
    {%endif%}
    <table>
        <tr>
            <th>Company</th>
            <th>Type of club</th>
            <th>Shaft Type</th>
            <th>Shaft Flex</th>
            <th>Degree of club</th>
            <th>Average Distance (yds)</th>
        </tr>
        {% for club in clubs %}
            <tr id="{{club.id}}" onclick="view(this)">
                <td> {{club.brand}} </td>
                <td> {{club.type}} </td>
                <td> {{club.shaft}} </td>
                <td> {{club.flex}} </td>
                <td> {{club.degree}} </td>
                <td> {{club.yards}} </td>
                <td><a href="\update\{{club.id}}">Update</a></td>
                <td><a href="\delete\{{club.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <script src="/static/read.js"></script>
{%endblock%}